@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --Cream: hsl(30, 38%, 92%);
    --Dark-cyan: hsl(158, 36%, 37%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%)
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--Cream);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.container .card {
    width: 600px;
    /* height: 410px; */
    background-color: var(--White);
    border-radius: 10px;
    display: flex;
    position: relative;
}

.container .card .img {
   width: 50%;
   height: 100%;
   background-image: url('./img/image-product-desktop.jpg');
   background-size: cover;
   border-bottom-left-radius: 10px;
   border-top-left-radius: 10px;
   
}


.container .info {
    width: 50%;
    height: 100%;
    padding: 30px;
}

.container .info .label {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--Dark-grayish-blue);
    letter-spacing: 5px;
}

.container .info .title {
    margin-top: 15px;
    font-size: 34px;
    line-height: 1;
    color: var(--Very-dark-blue);
    font-family: 'Fraunces', serif;
}

.container .info .text {
    margin-top: 20px;
    font-size: 15px;
    line-height: 1.6;
    color: var(--Dark-grayish-blue);
}

.container .info .price {
    margin-top: 25px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.container .info .price .price1{
    padding-right: 5px;
    font-size: 35px;
    color: var(--Dark-cyan);
    font-weight: 700;
    font-family: 'Fraunces', serif;
}

.container .info .price .price2 {
    font-size: 14px;
    color: var(--Dark-grayish-blue);
    font-weight: 500;
    text-decoration: line-through;
}

.container .btn {
    margin-top: 25px;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: var(--Dark-cyan);
    color: var(--White);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s;
}

.container .btn:hover{
    background: rgb(3, 71, 3);
}

hr{
visibility: hidden;
}

footer{
    text-align: center;
    position: absolute;
    bottom: 10px;

}

.btn img{
    margin-right: 10px;
}

@media only screen and (max-width: 600px){

    .container .card {
        position: relative;
        width: 91vw;
        min-height: 620px;
        background-color: var(--White);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        border: 1px solid red;
    }

    .container .card .img {
        width: 100%;
        height: 40%;
        background-image: url('./img/image-product-mobile.jpg');
        background-size: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
     }
    

      .container .info {
        width: 100%;
        height: 60%;
        padding: 30px;
    }

    .container .info .title {
        margin-top: 15px;
        font-size: 28px;
        line-height: 1;
        color: var(--Very-dark-blue);
        font-family: 'Fraunces', serif;
    }

    .container .info .text {
        margin-top: 20px;
        font-size: 14px;
        line-height: 1.6;
        color: var(--Dark-grayish-blue);
    }

    footer{
        text-align: center;
        position: relative;
        bottom: -20px;
    }

}